In [1]:
import pandas as pd
import pyspark
import os

from pyspark.sql import *
from pyspark.sql.functions import to_timestamp
from pyspark.sql.types import *

In [2]:
spark = SparkSession.builder.getOrCreate()
sc = spark.sparkContext

In [5]:
txt_file = sc.textFile('../data/GdeltDomainsByCountry-May18.txt')

In [6]:
rdd = txt_file.map(lambda x: x.split("\t"))
df = rdd.toDF(['web', 'code', 'country'])
df.show()

+-----------------+----+--------------+
|              web|code|       country|
+-----------------+----+--------------+
|         0-100.it|  IT|         Italy|
|          0-50.ru|  RS|        Russia|
|      0-60mag.com|  US| United States|
|       0-debt.com|  US| United States|
|       000fff.org|  US| United States|
|     000space.com|  UK|United Kingdom|
|       00221.info|  SG|       Senegal|
|           005.fi|  FI|       Finland|
|     00news.co.kr|  KS|   South Korea|
|      010info.com|  CH|         China|
|        010seo.tk|  TL|       Tokelau|
|          0123.cn|  CH|         China|
|       013info.rs|  RI|        Serbia|
|      01737.co.uk|  UK|United Kingdom|
|        01809.com|  UP|       Ukraine|
|01informatique.fr|  FR|        France|
|        01net.com|  FR|        France|
|         01net.it|  IT|         Italy|
|      02051935.nl|  NL|   Netherlands|
|           021.rs|  RI|        Serbia|
+-----------------+----+--------------+
only showing top 20 rows

In [15]:
df.filter(df['code']=='RB').show()

+--------------------+----+-------+
|                 web|code|country|
+--------------------+----+-------+
|   balkaninsight.com|  RB|       |
|       balkanist.net|  RB|       |
|      balkanrock.com|  RB|       |
|      glassrpske.com|  RB|       |
|learnserbianblog.com|  RB|       |
|       mcraeblog.com|  RB|       |
|       nezavisne.com|  RB|       |
|radiokontaktplus.org|  RB|       |
|             rtrs.tv|  RB|       |
|           rtvbn.com|  RB|       |
| stillinbelgrade.com|  RB|       |
|    streetart360.net|  RB|       |
|        svetplus.com|  RB|       |
|        urbanbug.net|  RB|       |
|       vukajlija.com|  RB|       |
+--------------------+----+-------+

In [72]:
print(df.count())

189545

In [71]:
code_sum = df.groupBy('code').count()
code_sum.sort(['count'], ascending=False).show()

+----+-----+
|code|count|
+----+-----+
|  US|56160|
|  UK|14892|
|  RS| 8216|
|  IT| 7672|
|  CA| 7331|
|  GM| 6085|
|  AS| 6022|
|  IN| 4453|
|  FR| 4138|
|  BR| 3814|
|  NL| 3525|
|  CH| 3476|
|  PL| 3360|
|  NZ| 2960|
|  SP| 2727|
|  TU| 2116|
|  SW| 1963|
|  SF| 1942|
|  RO| 1912|
|  UP| 1862|
+----+-----+
only showing top 20 rows